.main {
  @extend .col-md-8;
}

.main__header {
  @extend .row;
  @extend .between-xs;
  margin-bottom: convertPixels(36,768,1vh);
}

.main__resultsInfo {
  @extend .col-md-5;
  text-align: right; //font-family: MaisonNeue;
  color: #777;
  font-size: 1.2rem;
  font-weight: 600;
}
@include responsive('tablet-wide',max) {
  .main {
    padding-top: 1.5rem;
  }

  .main__header {
    display: none;
  }
}
