.navigation {
  display: flex;
  z-index: 10;
  position: absolute;
  top: convertPixels(40,768);
  left: 50%;
  align-items: center;
  justify-content: space-between;
  height: convertPixels(45,768);
  transform: translateX(-50%);
  @extend .container;
}

.navigation--footer {
  .navigation__link {
    color: #000;
  }
}

.navigation__links {
  li {
    display: inline-block;
  }
}

.navigation__link {
  margin: 0 convertREM(20);
  //font-family: MaisonNeue;
  color: #999;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 300ms;

  &.active {
    color: #000000;
  }

  &:hover {
    color: #000000;
  }
}
