.products {
  @extend .row;
}

.products__column {
  @extend .col-xs-6;
}

.product {
  position: relative;
  height: convertPixels(500,768,1vh);
  max-height: 500px;
  margin-bottom: convertPixels(21,768,1vh);
  padding: convertREM(30) convertREM(31);
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    .product__favourite {
      opacity: 100;
    }

    .product__cart {
      opacity: 100;
    }

    .product__display {
      opacity: 0;
    }

    .product__display--hover {
      opacity: 100;
    }
  }
}

.product__properties {
  @extend .row;
  @extend .between-xs;
  height: 20px;
  position: relative;
  z-index: 2;
}

.product__new {
  @extend .col-xs-4;
  color: #222;
  font-size: convertREM(20);
  font-weight: 600;
  //display: none;
}

.product__favourite {
  @extend .col-xs-2;
  margin-left: auto;
  font-size: convertREM(20);
  cursor: pointer;
  opacity: 0; //display: none;
  text-align: right; //  transition: 200ms;

  &.favourite {
    //TODO FILL HEART
    opacity: 100;
  }
}

.product__info {
  @extend .row;
  position: relative;
  z-index: 2;
}

.product__cart {
  @extend .col-xs-8;
  color: #222;
  font-size: convertREM(20);
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  text-align: right;
  opacity: 0; //  transition: 100ms;
}

.product__name {
  @extend .col-xs-12;
  color: #222;
  font-size: convertREM(20);
  font-weight: 600;
  margin-bottom: convertREM(18);
}

.product__price {
  @extend .col-sm-4;
  @extend .col-xs-12;
  color: #555;
  font-size: convertREM(21);
  font-weight: 600;
}

.product__display {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  opacity: 100;
}

.product__display--hover {
  @extend .product__display;
  opacity: 0;
}
@include responsive('tablet-wide',max) {
  .product {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 0;
    overflow: hidden;
    padding: {
      left: 0;
      right: 0;
    }
    min-height: 50vw;
    height: auto;
    background: none;
  }

  .product__display {
    width: 50vw;
    height: 50vw;
    top: 0;
    transform: translateX(-50%);
    object-fit: cover;
  }

  .product__properties {
    margin: 0 0.5rem !important;
  }

  .product__info {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 49vw;
  }

  .product__cart {
    display: none;
  }

  .product__name {
    font-size: convertREM(18);
    margin-bottom: 0.5rem;
  }

  .product__price {
    font-size: convertREM(19);
  }
}
@include responsive('tablet',max) {
  .product__info {
    margin-top: 45vw;
  }
}
