.shop {
  @extend .container;
  @extend .row;
  margin-top: convertPixels(82,768,1vh);
  margin-bottom: convertPixels(60,768,1vh);
}
@include responsive('tablet',max) {
  .shop {
    margin-bottom: convertPixels(40,768,1vh);
  }
}
